*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
:root{
  --Dark-Blue-Dark-Mode-Elements: hsl(209, 23%, 22%);
  --Very-Dark-Blue-Dark-Mode-Background: hsl(207, 26%, 17%);
  --Very-Dark-Blue-Light-Mode-Text: hsl(200, 15%, 8%);
  --Dark-Gray-Light-Mode-Input: hsl(0, 0%, 52%);
  --Very-Light-Gray-Light-Mode-Background: hsl(0, 0%, 98%);
  --White-Dark-Mode-Text-Light-Mode-Elements: hsl(0, 0%, 100%);
}

.countryPageSection{
    display: flex;
    flex-direction: column;
    padding-left: 7.5%;
    padding-right: 7.5%;
    padding-top: 3%;
    padding-bottom: 5%;
    background-color: var(--Very-Light-Gray-Light-Mode-Background);
}

.countryData{
    display: flex;
}

.imgSection{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 50%;
}

.contentSection{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}

.countryName{
    padding-top: 5%;
    padding-bottom: 5%;
}

.countryInfo{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.column{
    list-style: none;
    line-height: 2rem;
    width: 50%;
}

.borderCountrySection{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.borderCountries{
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.borderCountryLink{
    padding: 0.5rem;
    text-decoration-line: none;
  }

  @media only screen and (max-width: 600px) {
    .countryData{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .countryInfo{
        display: flex;
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        align-items: center;
       align-self: center;
    }

    .countryName{
        text-align: center;
        margin: auto;
    }

    .borderCountries{
        width: 70%;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        align-self: center;
    }

    .borderCountrySection{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: center;
    }
  }
