*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
:root{
  --Dark-Blue-Dark-Mode-Elements: hsl(209, 23%, 22%);
  --Very-Dark-Blue-Dark-Mode-Background: hsl(207, 26%, 17%);
  --Very-Dark-Blue-Light-Mode-Text: hsl(200, 15%, 8%);
  --Dark-Gray-Light-Mode-Input: hsl(0, 0%, 52%);
  --Very-Light-Gray-Light-Mode-Background: hsl(0, 0%, 98%);
  --White-Dark-Mode-Text-Light-Mode-Elements: hsl(0, 0%, 100%);
}

.countryCard{
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: var(--White-Dark-Mode-Text-Light-Mode-Elements);
    line-height: 2rem;
    color: var(--Very-Dark-Blue-Light-Mode-Text);
    
}

.link{
  margin: 2.5%;
  text-decoration-line: none;
}