/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


*, ::after, ::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
--Dark-Blue-Dark-Mode-Elements: hsl(209, 23%, 22%);
--Very-Dark-Blue-Dark-Mode-Background: hsl(207, 26%, 17%);
--Very-Dark-Blue-Light-Mode-Text: hsl(200, 15%, 8%);
--Dark-Gray-Light-Mode-Input: hsl(0, 0%, 52%);
--Very-Light-Gray-Light-Mode-Background: hsl(0, 0%, 98%);
--White-Dark-Mode-Text-Light-Mode-Elements: hsl(0, 0%, 100%);
}

body{
  background-color: var(--Very-Light-Gray-Light-Mode-Background);
}

.header{
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 5%;
  padding-right: 5%;
  background-color: var(--White-Dark-Mode-Text-Light-Mode-Elements);
  /* box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px; */
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


